*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}
body{
  width: 100%;
  height: auto;
  background-image: url(gym.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
header nav{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 12px 20px;
  height: auto;
  background-color: black;
  position: static;
  
}

.logo{
  font-size: 2em;
  color: white;
  transition: 0.5s;
}
  .logo:hover{
    transform: scale(1.5);
    color: white;
    
  }
ul{
  display: flex;
  justify-content: space-between;
  flex-basis: 50%;
}
ul li{
  list-style-type: none;
  font-size: 22px;
  font-weight: 300;
}
ul li a{
  font-weight: 600;
  text-decoration: none;
  color: white;
}
ul li a:hover{
    text-decoration: underline 2px;
    text-underline-offset: 4px;
    color: #4ca8e1;
    text-decoration: none;
} 
.bot a i{
  font-size: 22px;
  color: white;
}
.bot a i:hover{
  text-decoration: underline 2px;
  text-underline-offset: 4px;
  color: #4ca8e1;
  text-decoration: none;

}
  form {
    margin: auto;
    margin-top: 20px;
    width: min(600px, 80%);
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


  }
  form input{
    color: black;
    font-size: 20px;
  }
  h2 {
    text-align: center;
    font-size: 35px;
    color: white;
    margin-bottom: 20px;
    transition: 0.5s;
  }
  h2:hover{
    color: red;
    text-shadow: 3px 3px 3px yellow;
  }
  label {
    display: block;
    margin-bottom: 5px;
    color: white;
    font-weight: bold;
    font-size: 25px;
  }
 label:hover{
    color: yellow;
 }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea,
  select,
  #dob {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 3px solid #000000;
    border-radius: 10px;
    box-sizing: border-box;
    opacity: 0.5;
    color: black;
    text-transform: lowercase;
  }
  

  textarea {
    height: 100px;
    resize: vertical;
    color: black;
  }

  .checkboxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
  }

  .checkbox {
    display: flex;
    align-items: flex-start;
    margin-right: 20px;
  }

  .checkboxes label {
    margin-right: 20px;
  }
#btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: beige;
  width: 200px;
  height: 50px;
  font-size: 25px;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: abc;
  border-radius: 21px;
  cursor: pointer;
  
}
@keyframes abc {
  25%{
    color: red;
  }
  50%{
    color: blue;
  }
  75%{
    color: green;
  }
  100%{
    color: yellow;
  }
}
@media (max-width:768px)
 {
   ul 
   {
    display: block !important;
   }
   header nav{
    display: block !important;
   }
 }